.header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    background-color: #0c5252;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    color: #fff;
    padding: 10px;
}

.weather {
    display: block;
    align-items: center;
    justify-content: end;
    margin-top: -20px;
    text-align: center;
}

.weather p {
    padding: 0;
    margin: 0;
}

.weather b {
    font-size: 50px;
    font-weight: 400;
    line-height: 80%;
    -webkit-text-stroke: .5px #000;
}

.time img {
    width: 40px;
    position: absolute;
    top: -26px;
    right: 38px;
}

.date {
    margin-top: -20px;
}

.date p {
    margin: 0;
}
.date b {
    font-size: 50px;
    line-height: 80%;
    font-weight: 400;
    -webkit-text-stroke: .5px #000;
}

.time {
    font-size: 50px;
    margin-right: -40px;
    position: absolute;
    right: 48%;
    -webkit-text-stroke: 1px #b7b2b2
}